[Desktop Entry]
Type=Application
Name=Text editor
Exec=devour /usr/local/bin/st -e nvim %u 2>/dev/null
# Exec=devour st -e nvim %u
# Exec=devour /usr/local/bin/st -e nvim %F
